.header {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #240D57;
  background-color: #EDE5FF;
}

.highlight {
  background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}